body{
  padding-top: 15vh;
  background: rgba(236, 241, 241, 0.959);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main {
text-align: center;
background-color: whitesmoke;
border-radius: 25px;
font-family: sans-serif;
}
.header {
  text-align: center;
}

.text_google
{
 padding-top: 5%;
  text-align: center;
  color: #0000ff;
  padding-bottom: 3%;
  display: flex;
  padding-left: 37%;  
}

.g{
  color: #4885ed;
}
.o{
  color: #f4c20d;
}
.oo
{
  color: #db3236;
}
.l{
  color: #3cba54;
}.e{
  color: #db3236;
}

.with-your-google-account
{
  margin-bottom: 50px;
  
}

.email-phone input {
  background-color:rgba(255, 254, 242, 0.1);
  width: 100%;
   padding: 12px 20px;
   padding-inline-start: 10px;
   margin: 8px 0;
   box-sizing: border-box;
   border: 2px solid grey;
   border-width:0px 0px 2px 0px;
}





.footer-button
{
  display: flex;
  
}


.sign_in
{
  font-weight: bolder;
  padding-bottom: 1.5%
}


.forgot-email
{
  
     color: #4885ed;
    font-weight: bold;
    margin-top: 25px;
    text-align: left;
    margin-bottom: 8%;
    text-anchor: end;
}

.learn-more{
  margin-bottom: 10%;  
  color: #1b7ced;
  text-align: left;
}

.create-account
{
  background-color: #4885ed;
  border: 1px solid #4885ed;
  border-radius: 5px;  
  height: 30px;
  width: 110px;
  color: white;
  cursor: pointer;
}

.next{
  background-color: #4885ed;
  border: 1px solid #4885ed;
  border-radius: 5px;
  margin-left: 150px;
  width: 110px;
  height: 30px;
  color: white;
  cursor: pointer;
}

.next:hover, .create-account:hover {
  background: white;
  color: #4885ed;  
}